
/* body {
   
} */

#banner {
    width: 100%;
}

.main {
    background: #cccccc;
    padding: 30px;
}

.title-main {
    padding-left: 20px;
}

.center-text  {
    text-align: center;
}

p {
    font-size: 20px;
}

#mission {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items {
    font-style: italic;
}

.advantage {
    background: #ffffff;
    padding: 30px;
}

.imageadvantages {
    width: 50%;
    
}
