
/* body {
   
} */

#banner {
    width: 100%;
}

.main {
    background: #cccccc;
    padding: 30px;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

#mission {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

.items {
    font-style: italic;
}

.advantage {
    background: #ffffff;
    padding: 30px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imageadvantages {
    width: 50%;
    
}
