header {
    background: #BBBBBB;
    padding: 20 0px;
}

.navbox {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;

}

#banner {
    width: 100%;
}

.main {
    background: #cccccc;
    padding: 30px;
}

.title-main {
    padding-left: 20px;
}

.center-text  {
    text-align: center;
}

p {
    font-size: 20px;
}

#mission {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}

.items {
    font-style: italic;
}

.advantage {
    background: #ffffff;
    padding: 30px;
}

.imageadvantages {
    width: 50%;
    
}
